header {
  padding: 20px 0;
  nav {
    display: grid;
    grid-template-columns: 11fr 1.75fr;
    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;
      .nav__links {
        display: flex;
        align-items: center;
        gap: 32px;
        .nav__link {
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-align: left;
          color: #150c01;
          transition: 0.3s;
          &:hover {
            color: #ea953a;
          }
        }
      }
    }
    .nav__btn {
      background: #dc780b;
      border-radius: 5px;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      padding: 13px 30px;
      text-align: left;
      color: #fff;
      transition: 0.2s;
      &:hover {
        background: #bd6609;
      }
      &:active {
        background: #df7f18;
      }
    }
  }
}
