header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 5px rgba(193, 193, 193, 0.2);
  background: #fff;
  z-index: 100;
  nav {
    display: grid;
    grid-template-columns: 10fr 3fr;
    .nav__items {
      display: flex;
      align-items: center;
      gap: 32px;
      .nav__links {
        display: flex;
        align-items: center;
        gap: 32px;
        .links {
          .nav__link {
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: #150c01;
            transition: 0.3s;
            &:hover {
              color: #ea953a;
            }
          }
          .nav___btn {
            display: none;
          }
        }
      }
    }
    .nav__btns {
      display: flex;
      align-items: center;
      gap: 5px;
      .nav__btn {
        background: #dc780b;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        padding: 13px 30px;
        text-align: left;
        color: #fff;
        transition: 0.2s;
        &:hover {
          background: #bd6609;
        }
        &:active {
          background: #df7f18;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        svg {
          font-size: 32px;
        }
      }
    }
  }
  @media only screen and (max-width: 709px) {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      .nav__items {
        .nav__links {
          border-top: 2px solid #eee;
          border-radius: 24px 24px 0 0;
          position: fixed;
          right: 0;
          left: 0;
          bottom: 0;
          background: #e9e7e7;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .links {
            .nav__link {
              display: none;
            }
            .nav___btn {
              display: block;
              svg {
                font-size: 28px;
                color: #dc780b;
              }
            }
          }
        }
      }
    }
  }
}
