.products {
  padding: 115px 0;
  .content {
    .title {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-align: center;
      color: #dc780b;
    }
    h2 {
      font-family: Philosopher;
      font-size: 31.25px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      color: #150c01;
      padding: 10px 0 25px;
    }
    p {
      max-width: 748px;
      margin: auto;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: #150c01;
    }
    .cards {
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
      .card {
        max-width: 360px;
        border-radius: 75px 10px 10px 10px;
        overflow: hidden;
        border: 2px solid #eee;
        transition: 0.2s linear;
        &:hover {
          box-shadow: 3px 3px 5px rgba(150, 150, 150, 0.2);
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        .card__content {
          padding: 24px;
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            .card__title {
              font-family: Philosopher;
              font-size: 20px;
              font-weight: 700;
              line-height: 24px;
              color: #150c01;
              text-align: left;
            }
            .price {
              font-family: Philosopher;
              font-size: 25px;
              font-weight: 700;
              line-height: 24px;
              text-align: right;
              color: #150c01;
            }
          }
          p {
            padding: 20px 0;
            text-align: left;
          }
          .btns {
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            .plus {
              background: #dc780b;
              width: 36px;
              height: 36px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-family: sans-serif;
              border: 1px solid #dc780b;
              font-size: 16px;
              transition: 0.2s;
              &:hover {
                background: #fff;
                color: #dc780b;
                border: 1px solid #dc780b;
              }
              &:active {
                background: #dc780b;
                color: #fff;
                border: 1px solid #dc780b;
              }
            }
            .stars {
              svg {
                font-size: 20px;
                color: rgb(255, 208, 0);
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1180px) {
    .content {
      .cards {
        justify-content: center;
      }
    }
  }
}
