@font-face {
  font-family: Philosopher;
  src: url(.././assets/fonts/Philosopher-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(.././assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

@import "../scss/components/header";
@import "../scss/components/footer";
@import "../scss/components/hero";
@import "../scss/components/feature";
@import "../scss/components/about";

main {
  padding-top: 110px;
}
