* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

@import "../scss/components/header";
@import "../scss/components/footer";
@import "../scss/components/hero";

main {
  padding-top: 110px;
}
